/* .status-row {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.status-box-holder {
  margin: 10px;
  padding: 20px;
}

.status-box {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.status-box.running {
  background-color: green;
  color: white;
}

.status-box.stopped {
  background-color: rgb(211, 17, 17);
  color: white;
}

.param-row {
  margin-top: 20px;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.param-box {
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
} */
